.nav{
    padding: 0.5rem 1rem;
    background-color: #fdfdfd;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-size: 0.9rem;
    height: 2.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav:hover{
    background-color: lightgray;
}

.appName {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; 
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #95c8d8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    width: 100%;
    margin-top: 0;
}

.favPage{
    font-family:'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
    

.favContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50%;
}

.listArea{
    width: 80%;
    margin: 0;
    padding: 0; 
    height: auto;
}

.favList{
    list-style: none;
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.btn{
    padding: 0.5rem 1rem;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem; 
}

.btn:hover{
    background-color: #e68900; 
}

.favTitle{
    padding: 0 40px;
    margin-bottom: 20px;
}

.buttonList{
    display: flex;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 960px) {
    .buttonList{
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

    .btn{
        width: 100%;
    }
}