.nav{
    text-decoration: none;
    text-align: center;
    background-color: rgb(223, 149, 58);
    color: black;
    padding: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(233, 221, 140);
}

.favPage{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    

.favContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 0;
    width: 50%;
}

.listArea{
    width: 80%;
    margin: 0;
    padding: 0; 
    height: auto;
}

.favList{
    list-style: none;
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.btn{
    border: none;
    margin: 5px;
    width: 140px;
    height: 30px;
    background-color: rgb(223, 149, 58);
    cursor: pointer;
}

.favTitle{
    padding: 0 20px;
}